body {
  background: url("bg-main-desktop.png") repeat center,
    url("bg-main-desktop.png") round center fixed;
}
* {
  box-sizing: border-box;
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
main {
  display: flexbox;
  flex-wrap: wrap;
  margin: 5%;
  position: relative;
  font-family: "IBM Plex Sans";
}

.applebutton {
  vertical-align: auto;
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.applebutton:hover {
  background-color: #66e2dc;
}
.androidbutton:hover {
  background-color: #ffb964;
}

.androidbutton {
  text-align: center;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.toplogo {
  /* padding-left: 3%; */
  padding-bottom: 5%;
}

.pattern1 {
  position: absolute;
  left: 75%;
  top: 0%;
  transform: translate(0%, -20%);
}

h1 {
  font-size: 5rem;
  width: 80%;
  word-wrap: break-word;
  /* background-color: antiquewhite; */
}
h2 {
  font-size: 2.5rem;
  line-height: 2, 25;
}
.block2 p {
  font-size: 1.2rem;
  width: 80%;
  /* background-color: bisque; */
}
.card p {
  font-size: 1.3rem;
}
.block2 {
  display: flexbox;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 3%; */
  word-wrap: normal;
  text-align: left;
}
/* div {
  border: 5px solid rgb(255, 0, 13);
} */
.circle {
  margin-right: auto;
  float: right;
  width: 100%;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background: #e17917;
  mix-blend-mode: normal;
  opacity: 0.2;
  filter: blur(135.914px);
  border: 1px solid brown;
  z-index: -1;
}

.block3 {
  background-image: url("bg-pattern-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  height: 30%;
  padding: 2% 5%;
  background-color: black;
  position: relative;
  border-radius: 5px;
}

.card {
  color: white;
  display: flex;
  background-color: #fa7453;
  margin-left: 20%;
  transform: translate(90%, 20%);
  z-index: 2;
  border-radius: 5px;
  padding: 20px;
  width: 420px;
  align-items: center;
  justify-content: center;
}

.mobile img {
  position: absolute;
  width: 100%;
  max-width: 420px;
  bottom: 80px;
  /* z-index: 1; */
  /* border: 1px solid yellow; */
}

.block4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 10%;
  /* border: 1px solid yellow; */
}
.socials {
  flex: 20%;
}
.fa {
  width: 2rem;
  padding-top: 20px;
  color: black;
  text-decoration: none;
}
.fa:hover {
  cursor: pointer;
  color: #f24419;
}

.footnote {
  flex: 60%;
  text-align: left;
  padding-left: 10%;
}
.bottomlogo {
  flex: 20%;
}
img.socials {
  padding: 0 5px;
}

/* this is the media query for screens of max-width 375px */

@media screen and (max-width: 378px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .toplogo {
    margin-left: 5%;
  }
  .pattern1 {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
    width: 100%;
    word-wrap: break-word;
  }
  h2 {
    font-size: 1.5rem;
  }
  .block2 p {
    font-size: 1rem;
    width: 100%;
  }
  .card p {
    font-size: 1rem;
  }
  .block2 {
    width: 100%;
    padding: 3%;
    word-wrap: break-word;
    text-align: left;
  }
  .block3 {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .card {
    color: white;
    background-color: #fa7453;
    width: 100%;
    margin: 0px auto;
    text-align: left;
    z-index: 2;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 25rem;
    left: 0;
    transform: none;
  }

  .mobile img {
    width: 90%;
    align-self: center;
    z-index: 1;
    /* border: 1px solid yellow; */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  div .circle {
    width: 100%;
  }
  .block4 {
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .footnote {
    padding: 5% 0;
    text-align: left;
  }
  .block4 {
    padding-top: 100px;
  }
}

/* THIS IS THE MEDIA QUERY FOR SCREENS BETWEEN 376PX AND 770PX */
@media screen and (max-width: 770px) and (min-width: 376px) {
  main {
    display: flexbox;
    flex-direction: column;
  }
  .block4 {
    display: grid;
    grid-template: auto auto auto;
    gap: 5px;
    /* background-color: #2196f3; */
    padding: 10px;
  }
  h1 {
    font-size: 1.5rem;
    width: 100%;
    word-wrap: break-word;
  }
  h2 {
    font-size: 1.5rem;
  }
  .block2 p {
    font-size: 1rem;
    width: 100%;
    
  }
  .card p {
    font-size: 1rem;
  }
  .block3 {
    width: 100%;
  }
  .pattern1 {
    max-width: 200px;
    z-index: -1;
  }
  .bottomlogo {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footnote {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .socials {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  div .card {
    width: 18rem;
    transform: translate(20%, 30%);

    z-index: 2;
  }
  .pattern1 {
    width: 70%;
  }

  .mobile img {
    width: 50%;
    bottom: 10%;
  }
}
